# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage
load-test.js
# next.js
/.next/
/out/

# production
/build

# uploads (user-generated)
/public/uploads

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
control.log

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/app/generated/prisma
touch locustfile.py
__pycache__/touch locustfile.cpython-313.pyc
locustfile.py
__pycache__/locustfile.cpython-313.pyc
