.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: opacity 0.5s ease-out;
}

.loader-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.center {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.ring {
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  animation: ring 2s linear infinite;
}
@keyframes ring {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #e65c00;
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px #18b201;
  }
  100% {
    transform: rotate(0360deg);
    box-shadow: 1px 5px 2px #0456c8;
  }
}
.ring::before {
  position: absolute;
  left: 0;
  content: "";
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

@keyframes text {
  50% {
    color: black;
  }
}

.loader-text {
  font-size: 17px;
  font-weight: 500;
  color: #fff;
}

@media (max-width: 426px) {
  .ring {
    width: 340px;
    height: 340px;
  }
}

@media (max-width: 321px) {
  .ring {
    width: 300px;
    height: 300px;
  }.loader-text {
    font-size: 17px;
    font-weight: 500;
    color: #fff;
  }
}